<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Member</title>
    <link rel="stylesheet" href="/public/css/update.css">
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"/></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <article class="leaderboard">
        
        <header>
            <a style="position: absolute;
        top: 50%;
        left: 10%;
        margin-top: -25px;" href="/">
            <img herf="" src="https://img.icons8.com/cute-clipart/50/000000/home.png" />
        </a>
            <h1 class="leaderboard__title"><span class="leaderboard__title--top">Members</span><span
                    class="leaderboard__title--bottom">info</span></h1>
        </header>


        <main class="leaderboard__profiles">

            <form role="search" method="POST" action="/search/member">
                <label for="search">Search for member</label>
                <input id="search" name="search" type="search" placeholder="Search..." autofocus />
                <button type="submit">Go</button>
            </form>
            <article class="leaderboard__profile">
                <span class="leaderboard__name" style="color: rgb(218, 59, 59);">Name</span>
                <span class="leaderboard__value" style="font-size: medium; color: rgb(218, 59, 59);"> warning </span>
                <span class="leaderboard__value" style="font-size: medium; color: rgb(218, 59, 59);"> money </span>
            </article>
            <!---->
            <% members.forEach(member=> { %>
                <article onclick="deleteOrEditMember(this,'<%= String(member.id) %>')" class="leaderboard__profile">
                    <span class="leaderboard__name">
                        <%= member.name %>
                    </span>
                    <span class="leaderboard__value">
                        <%= member.warnings%> <span style="color: white;">|||</span> 
                    </span>
                    <span class="leaderboard__value">
                        <%= member.money%><span>K</span>
                    </span>
                </article>
                <% }) %>
                    <article onclick="document.location='/add-form'" class="leaderboard__profile">
                        <span class="leaderboard__name"></span>
                        <span class="leaderboard__add"> Add new Member </span>
                    </article>
        </main>
        </div>
       
        <script class="u-script" type="text/javascript" src="public/js/alert.js" defer=""></script>

</body>

</html>