<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Page</title>
  <link href="public/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/home.css" media="screen">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400">
</head>

<body>
  <ul class="cards">
    <!--add card -->
    <li>
      <a href="/add" class="card">
        <img src="https://i.imgur.com/FkZCua7.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path /></svg>
            <img class="card__thumb" src="https://i.imgur.com/NAGtT2T.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Add Member</h3>
            </div>
          </div>
          <p class="card__description">يمكنك من هنا اضافة عضو جديد </p>
        </div>
      </a>
    </li>
    <!--Member's Warning card -->
    <li>
      <a href="/update/Warnings" class="card">
        <img src="https://i.imgur.com/zx36KCc.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path /></svg>
            <img class="card__thumb" src="https://i.imgur.com/jdKuPv6.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Member's Warning</h3>
            </div>
          </div>
          <p class="card__description">من هنا يمكنك اضافة وتعديل الانذارات</p>
        </div>
      </a>
    </li>
    <!--Member's Bank card -->
    <li>
      <a href="/update/Bank" class="card">
        <img src="https://i.imgur.com/o2vKPWw.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path /></svg>
            <img class="card__thumb" src="https://i.imgur.com/08tgYi1.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Member's Bank</h3>
            </div>
          </div>
          <p class="card__description">من هنا يمكنك اضافة وتعديل البيلي </p>
        </div>
      </a>
    </li>
    <!--Admin Notes card -->
    <li>
      <a href="https://ancient-reef-81201.herokuapp.com/admin" class="card">
        <img src="https://i.imgur.com/LuG3OS4.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path /></svg>
            <img class="card__thumb" src="https://i.imgur.com/8Eyggdo.jpg" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Admin Notes</h3>
            </div>
          </div>
          <p class="card__description">من هنا تستطيع الوصول الى جميع الاستمارات</p>
        </div>
      </a>
    </li>
  </ul>
  
</ul>
</body>

</html>